.example-content {
    padding: 14px;
    height: 90vh;
    overflow-x: scroll;
}

.custom-card {
    margin: 8px;
}

.relative {
    position: relative;
}

.ion-cart {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 99;
}

.ion-badge-cart {
    position: absolute;
    right: 10px;
    top: 12px;
    z-index: 99;
    font-size: 9px;
    padding: 5px;
    border-radius: 100px;
}

.mr-20 {
    margin-right: 20px;
}

ion-modal#example-modal {
    --width: fit-content;
    --min-width: 250px;
    --height: fit-content;
    --border-radius: 6px;
    --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
  }

  ion-modal#example-modal h1 {
    margin: 20px 20px 10px 20px;
  }

  ion-modal#example-modal ion-icon {
    margin-right: 6px;

    width: 48px;
    height: 48px;

    padding: 4px 0;

    color: #aaaaaa;
  }

  ion-modal#example-modal .wrapper {
    margin-bottom: 10px;
  }