.example-content {
  padding: 14px;
  height: 90vh;
  overflow-x: scroll;
}

.custom-card {
  margin: 8px;
}

.relative {
  position: relative;
}

.ion-cart {
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 99;
}

.ion-badge-cart {
  position: absolute;
  right: 10px;
  top: 12px;
  z-index: 99;
  font-size: 9px;
  padding: 5px;
  border-radius: 100px;
}

.mr-20 {
  margin-right: 20px;
}

ion-modal#openQty {
  --width: fit-content;
  --min-width: 85%;
  --height: fit-content;
  --border-radius: 6px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#openQty h1 {
  margin: 20px 20px 10px 20px;
}

ion-modal#openQty ion-icon {
  margin-right: 6px;

  width: 48px;
  height: 48px;

  padding: 4px 0;

  color: #aaaaaa;
}

ion-modal#openQty .wrapper {
  margin-bottom: 10px;
  padding: 20px;
}

ion-modal#openQty ion-icon {
  width: 20px;
  height: 20px;
  color: #000000;
  margin: 0;
}

ion-modal#openQty .counter__section ion-icon {
  color: white !important;
}

.counter__section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
#counter {
  background:linear-gradient(90deg, #ff9c15, #ff526f, #ff23ad);
  color: white;
  display: block;
  padding: 10px;
  width: 200px;
  text-align: center;
  font-size: 28px;
}

ion-button {
  --background: linear-gradient(90deg, #ff9c15, #ff526f, #ff23ad) !important;
  font-weight: bold !important;
  color: white !important;
}
.button-native {
  color: #ffffff !important;
}
ion-card-subtitle{
  --color: black;
  font-size: 14px;
}

.badge-qty{
  background: linear-gradient(90deg, #ff9c15, #ff526f, #ff23ad) !important;
  padding: 6px 8px;
  border-radius: 100px;
  width: 26px;
  height: 26px;
}

ion-card-title{
  font-size: 26px;
}
ion-card-header{
  padding: 4px 14px;
}

.invoice-box{
  max-width: 800px;margin: auto;
  padding: 16px;
  border: 1px solid #eee;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  font-size: 16px;
  line-height: 24px;
  font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
  color: #555;
}
#PrintInvoice{
  display: none;
}